<!DOCTYPE html>
<html>
	<head>
		<title>Cloud Diary</title>


	</head>
<body style="background-color: #62BCE0 ">

	<h1 >Cloud Diary Save List</h1>	
	
	<h3 style="margin: 4px;">Diary List</h3>
	
	
	<form method="POST" action="/EList/{{ DiaId.id }}/add_item">
		<h4>Date</h4>
		<input type="text" id="currentDate" placeholder="Date Today"> <br>
		<h4>Mood</h4>
		<input type="text" id="mood" placeholder="Your mood?"> <br>
		<h4>Achievement Today</h4>
		<input type="text" id="achieve" placeholder="Achievements Today"> <br>
		<h4>Entry</h4>
		<input type="text" id="entry" placeholder="Your Entry"> <br>
		<h4>Diary Title</h4>
		<input id="saveinput" name="item_text" placeholder="Diary Name" /> <br>
		<input type="submit" name="savebtn" value="Save Entry"> <br>
		{% csrf_token %}
	</form>
	
	<table id="diarylist">
		{% for item in DiaId.item_set.all %}
		<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
		{% endfor %}
		
	</table>
	
	<!--<input type="submit" onclick="savediary()" value="Save"></input>-->

<!--script id="scriptdate" placeholder='DateToday'>
		var today = new Date();
		var date = today.getMonth() + "/" + today.getDate() + "/" + today.getFullYear();
		var correct = today.date;

  			document.getElementById("currentDate").value = date;
</script-->
</body>
</html>