<!DOCTYPE html>
<html>
<head>
	<title>Cloud Diary</title>
</head>
<body style="background-color: #62BCE0">
	<h1>Cloud Diary</h1>

	<a href="login.html"><h2>Login</h2></a>
	<a href="diaryitemlist"><h2>Diary Items</h2></a>
	<a href="archive"><h2>Archive</h2></a>

<button type="button" onclick="energy()">Energetic</button>
<button type="button" onclick="creative()">Creative</button>
<button type="button" onclick="beginning()">New Beginning</button>

<script>
function energy() {
  document.body.style.backgroundColor = "Red";
}
</script>
<script>
function creative() {
  document.body.style.backgroundColor = "Orange";
}
</script>
<script>
function beginning() {
  document.body.style.backgroundColor = "Green";
}
</script>

</body>
</html>