<!DOCTYPE html>
<html>
	<head>
		<title>Cloud Diary Login</title>
	</head>
	<body style="background-color: #62BCE0">
		<h1>Cloud Diary Login</h1>
		<a href="home.html"><h3>Back to Home</h3></a>
	<form>
		<label>Username</label><br>
		<input type="text" name="username">
		<br>
		<label>Password</label><br>
		<input type="password" name="password">
		<button>
			<a href="diaryitemlist"> Login </a>
		</button>
	</form>	
	<p>Don't have an account? <a href="SignUp.html">SignUp</a> here.</p>	

	</body>