<!DOCTYPE html>
<html>
	<head>
		<title>Cloud Diary SignUp</title>
	</head>
	<body style="background-color: #62BCE0">
		<h1>Cloud Diary SignUp</h1>
		<a href="/"><h3>Back to Home</h3></a>
	<form>
		<label>Phone Number</label><br>
		<input type="text" name="phone_number">
		<br>
		<label>Email</label><br>
		<input type="text" name="email">
		<br>
		<label>Username</label><br>
		<input type="text" name="username">
		<br>
		<label>Password</label><br>
		<input type="password" name="password">
		<button onclick="loginpop()">
		<a id="link" href="LoginPage">Sign Up</a>
		</button>
		{% csrf_token %}
	</form>		
<script>
function loginpop() {
  var txt;
  var r = confirm("Are you sure this is correct!?");
  if (r == true) {
    txt = "You pressed OK!";
  } 
  else {
    document.getElementById("link").setAttribute('href','LoginPage');	
  }
  
}
</script>
	</body>